USE [master]
GO
/****** Object:  Database [WeatherDb]    Script Date: 10/27/2020 11:43:26 AM ******/
CREATE DATABASE [WeatherDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WeatherDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS12\MSSQL\DATA\WeatherDb.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WeatherDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS12\MSSQL\DATA\WeatherDb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WeatherDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WeatherDb]
GO
/****** Object:  User [weatherWorker]    Script Date: 10/27/2020 11:43:27 AM ******/
CREATE USER [weatherWorker] FOR LOGIN [weatherWorker] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [weatherWorker]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 10/27/2020 11:43:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[DataUrl] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CityWeatherInfos]    Script Date: 10/27/2020 11:43:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityWeatherInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityId] [int] NOT NULL,
	[ForecastDateTime] [datetime] NOT NULL,
	[TemperatureFromCelsius] [int] NOT NULL,
	[TemperatureToCelsius] [int] NOT NULL,
	[WindSpeed] [int] NOT NULL,
	[Precipitation] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_CityWeatherInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CityWeatherInfos]  WITH CHECK ADD  CONSTRAINT [FK_CityWeatherInfos_Cities] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[CityWeatherInfos] CHECK CONSTRAINT [FK_CityWeatherInfos_Cities]
GO
USE [master]
GO
